<div class="navbar-menu" >
    <img [src]="logo" class="logo">
    <p class="menu_links"><a routerLink="/admin" reactiveLinkActive="active">Home</a> || Produtcs || user</p>
    <div class="userMiniBar">
        <div class="dropdown">
            <button class="dropbtn">menu</button>
                <div class="dropdown-content">
                    <a routerLink="" reactiveLinkActive="active">Log out</a>
                    <br>
                    <a routerLink="/admin" reactiveLinkActive="active">Home</a>
                    <br>

                </div>   

</div>
