.tab{
    position: absolute;
    width: 80%;
    height: 92%;
    top: 7%;
    padding: 0;



    border: 1px outset black;


}

.tabcontent{
    position: relative;
    border: 1px outset black;
    background-color: aliceblue;
    transition: 0.3s;
    border-top: none;
    overflow-x: auto;
    height: 81vh;
    width: 99%;
    overflow-y: auto;
    left:0.5%;


}
.element{
    height: 100%;
    border: 2px outset black;
    width: 100vw;


}
.list{
   border: 2px outset black;

}