
<div class=side-bar>
    <ul>
        <li>aviso 1</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 2</li>
        <li>aviso 3</li>
        <li>aviso 3</li>
        <li>aviso 3</li>
        <li>aviso 3</li>
        <li>aviso 3</li>
        <li>aviso 3</li>
        <li>aviso 3</li>
        <li>aviso 3</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        <li>aviso 4</li>
        
    </ul>
    
    </div>
<div class="navbar-menu" >
    <img [src]="logo" class="logo">
    <p class="menu_links"><a routerLink="/home" reactiveLinkActive="active">Home</a> || Produtcs || user</p>
    <div class="userMiniBar">
        <img [src]="userimg"class="imgusuario">
        <div class="dropdown">
            <button class="dropbtn">menu</button>
                <div class="dropdown-content">
                    <a routerLink="" reactiveLinkActive="active">Log out</a>
                    <br>
                    <a routerLink="/home" reactiveLinkActive="active">Home</a>
                    <br>
                    <a routerLink="/account" reactiveLinkActive="active">Account</a>
                    <br>
                    <a routerLink="/cart" reactiveLinkActive="active">Cart</a>

                </div>
        </div>
        <div class="saldo">
            <p>R$: {{saldo}}</p>

        </div>

        </div>
   

</div>
